&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{# emergency }}
		&lt;div style=&quot;width: 100%; height: 30px; background-color: #ccc; padding: 20px; color: #fff; font-size: 3em;&quot;&gt;
			Emergency!!!
		&lt;/div&gt;
	{{/ emergency }}
	{{&gt; organisms-header-hollywood }}
	&lt;div role=&quot;main&quot;&gt;
		
	{{# slider }}
		{{&gt; molecules-hollywood-slider }}
	{{/ slider}}
		&lt;br&gt;
		&lt;div class=&quot;g1 g-3up&quot;&gt;
			&lt;div class=&quot;gi&quot;&gt;
				&lt;section class=&quot;section latest-posts&quot;&gt;
					&lt;h2 class=&quot;section-title&quot;&gt;Upcoming Classes:&lt;/h2&gt;
					&lt;ul class=&quot;post-list&quot;&gt;
						&lt;hr&gt;
						{{# latest-posts}}
							{{&gt; molecules-upcoming-class-block }}
						{{/ latest-posts}}
					&lt;/ul&gt;
				&lt;/section&gt;
			&lt;/div&gt;
			&lt;div class=&quot;gi&quot;&gt;
				{{# home-center}}
					{{&gt; molecules-block-middle-panel}}
				{{/ home-center}}
			&lt;/div&gt;

			&lt;div class=&quot;gi&quot;&gt;
				{{&gt; organisms-why-join }}
			&lt;/div&gt;&lt;!--end l-sidebar--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-hollywood-footer }}
&lt;/div&gt;