.panel {
	font-family: $sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: $light-gray;
	margin-bottom: 1.25rem;
	padding: 1.25rem;
	background-color: $lightest-grey;
}

.header-hollywood{
	background-color: $header-color;
}

.upcoming-class{
	width: 100%; 
	text-align: center;
}