/* line 1, ../sass/module.scss */
.module__container {
  width: 100%;
}

/* line 4, ../sass/module.scss */
.module__container--left {
  margin-top: -50px;
  width: 33.33333%;
  float: left;
}

/* line 10, ../sass/module.scss */
.module__container--inside {
  padding: 30px;
}

/* line 13, ../sass/module.scss */
.module__upcoming-clases--container {
  list-style: none;
  text-align: center;
}

/* line 17, ../sass/module.scss */
.upcoming-clases--item {
  line-height: 65px;
  border-top: 1px solid gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

/* line 24, ../sass/module.scss */
.module__container--center {
  width: 33.33333%;
  float: left;
  height: 400px;
  margin-top: -50px;
}

/* line 30, ../sass/module.scss */
.module__container--right {
  width: 33.33333%;
  float: left;
  margin-top: -50px;
}

/* line 37, ../sass/module.scss */
.module--paragraph {
  line-height: 20px;
}

/* line 40, ../sass/module.scss */
.big-button--why-join {
  float: right;
  background-color: gray;
  padding: 8px 15px;
  font-size: 20px;
  border: none;
}
