&lt;section class=&quot;section find-us&quot;&gt;
    &lt;div class=&quot;find-us--section find-us__panel&quot;&gt;
        {{&gt; molecules-map }}
    &lt;/div&gt;
    &lt;div class=&quot;find-us--section&quot;&gt;
        {{&gt; molecules-hollywood-location }}
    &lt;/div&gt;
    &lt;div class=&quot;find-us--section&quot;&gt;
        {{&gt; molecules-hollywood-hours }}
    &lt;/div&gt;
&lt;/section&gt;