&lt;figure&gt;
    {{&gt; atoms-square }}
    &lt;figcaption&gt;
        &lt;p class=&quot;caption&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;A link to a large Map&lt;/a&gt;&lt;/p&gt;
    &lt;/figcaption&gt;
&lt;/figure&gt;