<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ce0d0e;"></span>
		<span class="sg-label">#ce0d0e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dbdbdb;"></span>
		<span class="sg-label">#dbdbdb</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #969696;"></span>
		<span class="sg-label">#969696</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>