.section{
    margin-top: 10px;
}

.find-us{
    width: 100%;
    height: auto;
    padding: 10px 0;
    margin: 10px auto;
    background-color: $dark-gray;
    color: $white;
    clear: both;
    overflow: auto;
}

.find-us--map{
    float: left;
    
    img {
        width: 400px;
        height: 400px;
    }
}

.find-us--location{
    float: left;
}

.find-us--hours{
    
}