&lt;section class=&quot;section latest-posts&quot;&gt;
	&lt;h2 class=&quot;section-title&quot;&gt;Upcoming Classes:&lt;/h2&gt;
	&lt;ul class=&quot;post-list&quot;&gt;
		&lt;hr&gt;
			{{&gt; molecules-upcoming-class-block }}
			{{&gt; molecules-upcoming-class-block }}
			{{&gt; molecules-upcoming-class-block }}
			{{&gt; molecules-upcoming-class-block }}
			{{&gt; molecules-upcoming-class-block }}
	&lt;/ul&gt;
&lt;/section&gt;