<div class="location">
    <h1 class="subheading--location">Site Location</h1>
    
    {{> atoms-hr}}
    
    {{> atoms-paragraph }}
    {{> atoms-paragraph }}
    {{> atoms-paragraph }}
    {{> atoms-paragraph }}
    {{> atoms-paragraph }}
    {{> atoms-paragraph }}
</div>