//variables//
$primary-color: #c13a47;
$hover-red: #9E2934;
$light-gray: #DBDBDB;
$lightest-grey: #f2f2f2;
$medium-gray: #969696;
$white: #ffffff;
$header-color: #000;
$label: #4d4d4d;
$input-border: #333333;
$focus-background: #fafafa;
$valid: #099c14;

$sans-serif: "Gafata", sans-serif;
//end variables//

